.gradient
  &-button
    border: none
    position: relative
    .gradient-button-wrap
      content: ''
      position: absolute
      z-index: -1
    span.text
      z-index: 2
      color: #fff

    // Style default button
    &.default
      padding: 20px 100px
      color: #fff
      background-color: #000
      border-radius: 50px



